.Details-bg-container{
    width: 100%;
    height: 100vh;
    background-color: #151939;
}

.details-bg1 {
    position: absolute;
    left: 0;
    height: 100%;
    width: 65%;
    
}
.details-bg1 img {
    height: 100%;
    width: 100%;
    
}

.details-bg2 {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35%;
    
}
.details-bg2 img {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    
}

.details-slider{
    position: absolute;
    width: 55vw;
    height: 60vh;
    top: 15vh;
    right: 0;

}

.details-content{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: space-between;
    top: 23vh;
    left: 8vw;
    height: 58vh;
    width: 46vw;
    color: white;
    
    
}

.details-title{
    font-size: 2rem;
    display: flex;

}

.details-title1{
    font-size: 1.5rem;
    background-color:#ffa62a;
    color: #151939;
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.details-location, .details-Rating, .details-txt{
    font-size: 1.5rem;
}


.details-act{
    display: flex;
    /* height: 12vh; */
    justify-content:space-between;
}

.details-act div{
    font-size: 1.5rem;
}
.details-act p{
    align-items: left;
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}

.details-price{
    /* height: 8vh;
    margin-top: 3rem; */
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

.details-price1{
    font-size: 2.5rem;
    margin-left: 4rem;
}

.Itineraries-btn{
    position: relative;
    left: 16vw;
    background: linear-gradient(90deg, #FCE8A3 32.41%, #FD9F69 105.07%);
    color: #151939;
    font-weight:bolder;
    height: 6vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.pyt{
    border: 1.31px solid;
    background: conic-gradient(from 180deg at 50% 50%, #120020 0deg, #FD9F69 53.3deg, #FCE8A3 90.46deg, #2D3E6C 126.24deg, #120020 178.82deg, #120020 360deg);
    position: absolute;
    top:88vh;
    left: 45%;
    height: 6vh;
    width: 10.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
}

.pyt1{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: white;
    background: #120020f6;
    height: 5.5vh;
    width: 10vw;
    border-radius: 5rem;
}

.pyt1 img{
    height: 2rem;
    width: 2rem;
}