
  
  .swiper {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff00;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    align-items: center;

  }
  
  .swiper-slide img {
    border-radius: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 60vw;
    height: 65vh;
    margin: 20px auto;
  }
  
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
  }
  
  .swiper-slide.flipped .flip-card-inner {
    transform: rotateY(180deg); /* Flip the card */
  }
  
  .front, .back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg); /* Back side of the slide */
    position: relative; /* Create a stacking context for the overlay */
  }
  
  /* .back img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
    border-radius: 2rem; 
  } */
  
  /* .back p {
    padding-left: 20px; 
    padding-right: 20px;
    color: white; 
    font-size: 1rem; 
    text-align: left; 
  } */

  .hp1{
    padding-left: 20px; 
    padding-right: 20px;
    color: white; 
    font-size: 1.3rem; 
    text-align: left; 
  }

  .hp2{
    padding-left: 20px; 
    padding-right: 20px;
    color: white; 
    font-size: 1rem; 
    text-align: left; 
  }

  .back_content{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 2rem;
    z-index: 2;
    background:#2d3e6ca4;
  }


  
  .bookmark{

    height: 3rem;
    width: 3rem;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 5rem;
  }
  .bookmark img{
    height: 2rem;
    width: 1.5rem;
    border-radius:0%;
    padding: 2px;
  }

  .i_icon{
    
    height: 3rem;
    width: 3rem;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 5rem;

  }

  .i_icon img{
    height: 2rem;
    width: 1.5rem;
    border-radius:0%;
    padding: 2px;
  }

  .flip-icons{
    position: absolute; 
    top: 3vh ;
    left: 20vw;
    height: 7vh;
    width: 7vw;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }



  .back_content1{
    position: absolute; 
    top: 9vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
  }


  
  .swiper-slide-hide {
    transition: opacity 0 ease, transform 0 ease;
  }
  
  .swiper-slide-prev {
    opacity: 0; /* Fade out previous slide */
    transform: translateX(-100%); /* Move it out of view */
  }
  
  .swiper-slide-next {
    opacity: 1; /* Ensure next slide is fully visible */
    transform: translateX(0); /* Keep it in view */
  }

